.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;

  .container {
    width: 80%;
    margin: 30px auto 20px auto;
    background-color: #000000;

    .modal {
      position: relative;
      width: 85%;
      margin: 20px auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 20px;

      .certificate_image {
        position: fixed;
        .action_area {
          margin-top: 20px;
          display: flex;
          flex-direction: column;

          .action_area_button {
            cursor: pointer;
            width: 100%;
            font-weight: bold;
            padding: 10px;
            text-align: center;
            margin: 5px 2px;
            border-radius: 20px;

            background-color: #ff5846;
            color: #ffffff;
            &:hover {
              background-color: #ffffff;
              color: #ff5846;
            }
          }
        }
      }

      .information_container {
        h2 {
          color: #ff5846;
          font-size: 3rem;
        }
        p.community_information {
          font-size: smaller;
          color: #0e0e0e;
          background-color: #ededed;
          padding: 4px 8px 4px 8px;
          color: #ff5846;
          width: fit-content;
          font-weight: 600;
          border-radius: 5px;
          margin-bottom: 10px;

          span {
            font-weight: bold;
            color: #000000;
          }
        }
        p.ntt_description {
          color: #ffffff;
          text-align: justify;
        }

        .information_area {
          margin-top: 20px;

          .information_about_dates {
            display: grid;
            grid-template-columns: auto auto auto;

            .information {
              display: flex;
              font-weight: 700;

              .label {
                color: #ff5846;
                padding-right: 6px;
              }

              .value {
                color: #ffffff;
              }
            }
          }

          .information_websites {
            p {
              color: #ff5846;
              font-weight: 700;
              margin-top: 15px;
            }

            a {
              color: #e2e2e2;
              padding-left: 2px;

              &:hover {
                text-decoration: underline;
                color: rgb(80, 80, 255);
              }
            }
          }
        }

        .claimsStatus {
          margin-top: 30px;

          .claimsHeading {
            font-size: 1.5rem;
            padding-bottom: 2px;
            border-bottom: 2px solid #ff5846;
          }

          .claims_list {
            display: flex;
            flex-direction: column;

            .claims_list_item {
              &:first-of-type {
                margin-top: 20px;
                font-weight: bolder;
                border: 0;
                color: #ffffff;
                margin-bottom: 0;
              }

              p:last-of-type {
                text-align: right;
              }

              display: grid;
              grid-template-columns: 4fr 1fr 1fr;
              margin-bottom: 10px;
              border: 2px solid #ff5846;
              border-radius: 5px;
              padding: 10px 5px;

              .burn_button {
                font-weight: 600;
                cursor: pointer;
                width: 90%;
                margin: 0 auto;
                background-color: #ff5846;
                color: #ffffff;
                padding: 5px;
                text-align: center;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &:hover {
                  background-color: #ffffff;
                  color: #ff5846;
                }
              }
            }
          }
        }
      }
    }
  }
}
