html,
body {
  width     : 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0A0A08;
  color           : #AAAAAA;
}

a {
  color          : inherit;
  text-decoration: none;
}

* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FFFFFF;
}

.done {
  background-color: #ff5846 !important;
}