.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    h1 {
      font-weight: bolder;
      color: #ffffff;
    }
    p {
      text-align: justify;
      font-size: 1.3rem;
    }
  }
}
